<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
</head>
<body>
    <h1 th:text="${chatroom.chatname}"></h1>
    <p>
    <table>
        <tr>
            <th>Messages</th>
        </tr>
        <tr th:each="message : ${chatroom.messages}">
            <td th:text="${message.msg}">message</td>
            <td><a th:href="@{/deletemessage/{id}(id=${message.id})}" >Delete</a></td>
        </tr>
    </table>

    </p>
	<p><a th:href="@{/addmessage/{id}(id=${chatroom.id})}" method="GET" class="btn btn-primary" >New Message</a></p>
	<p><a th:href="@{/chatroomlist}" method="GET" class="btn btn-primary" >Chatroom list</a></p>
    
</body>
</html>